@import "utils";
@import "fonts";
@import "typography";

@mixin border {
  border: 2px solid black;
  border-radius: 5px;  
}

.container {
  width: 1100px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

.gallery__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.gallery__large-img {
  width: 100%;
}

.gallery__thumb{
  height: 100%;
  width: 100%;  
}

.gallery__img {
  @include border;
  padding: 5px;
}

ul li::marker{
  content: none;
}

