@import "utils";
@import "fonts";
@import "typography";

@mixin border {
  border: 2px solid;
  border-radius: 5px;  
}

body {
  margin: 0;
  padding: 0;
}

.gallery__list {
  display: flex;
  justify-content: center;
  padding: 0;
  background-size: cover;
}

.gallery__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
  @include border;
}

ul li::marker{
  content: none;
}

.list-item {
  margin: 0 10px;
}
